<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>791758794696-jo5es9jt11vpanlqsdl220qb259e9tlm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.791758794696-jo5es9jt11vpanlqsdl220qb259e9tlm</string>
	<key>API_KEY</key>
	<string>AIzaSyBCbUVNp-xRNFn8E0imxvDEVZR5HqiebF4</string>
	<key>GCM_SENDER_ID</key>
	<string>791758794696</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.calc.InstagramClone</string>
	<key>PROJECT_ID</key>
	<string>instagramclone-20b59</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramclone-20b59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:791758794696:ios:1be94a2a9e12c4b07a9afd</string>
</dict>
</plist>